<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljx.blog.Mapper.TBlogMapper">
  <resultMap id="BaseResultMap" type="com.ljx.blog.pojo.TBlog">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="first_picture" jdbcType="VARCHAR" property="firstPicture" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="views" jdbcType="INTEGER" property="views" />
    <result column="appreciation" jdbcType="INTEGER" property="appreciation" />
    <result column="share_statement" jdbcType="INTEGER" property="shareStatement" />
    <result column="commentabled" jdbcType="INTEGER" property="commentabled" />
    <result column="published" jdbcType="INTEGER" property="published" />
    <result column="recommend" jdbcType="INTEGER" property="recommend" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="type_id" jdbcType="BIGINT" property="typeId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="tag_ids" jdbcType="VARCHAR" property="tagIds" />
    <association property="type" javaType="com.ljx.blog.pojo.TType">
      <id property="id" column="typeid"/>
      <result property="name" column="typename"/>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, title, content, first_picture, flag, views, appreciation, share_statement, commentabled, 
    published, recommend, create_time, update_time, type_id, user_id, description, tag_ids
  </sql>
<!--  根据id查询博客-->
  <select id="getBlog" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
      id,published,flag,title,content,type_id,
      tag_ids,first_picture,description,recommend,
      share_statement,appreciation,commentabled
    from t_blog
    where id = #{id,jdbcType=BIGINT}
  </select>

<!--  获取所有博客-->
  <select id="getAllBlog" resultMap="BaseResultMap" parameterType="list">
    select
           b.id,b.title,b.first_picture,b.views,b.update_time,b.description,t.name typename,t.id typeid
     from
          t_blog b join t_type t on b.type_id = t.id
  </select>

<!--  按条件查询博客-->
  <select id="searchAllBlog" resultMap="BaseResultMap" parameterType="list">
    <bind name="pattern" value="'%' + title + '%'" />
    select
        b.id, b.title, b.update_time, b.recommend, b.published, b.type_id, t.id, t.name
    from t_blog b join t_type t on b.type_id = t.id
        <where>
            <if test="typeId != null">
              and b.type_id = #{typeId}
            </if>
            <if test="recommend != null">
              and b.recommend = #{recommend}
            </if>
            <if test="title != null">
              and b.title like #{pattern}
            </if>
        </where>


  </select>

<!--  根据id删除博客-->
  <delete id="deleteBlog" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_blog
    where id = #{id,jdbcType=BIGINT}
  </delete>

<!--  根据id更新博客-->
  <update id="updateBlog" parameterType="com.ljx.blog.pojo.TBlog">
    <!--@mbg.generated-->
    update t_blog
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="firstPicture != null">
        first_picture = #{firstPicture,jdbcType=VARCHAR},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=VARCHAR},
      </if>
      <if test="views != null">
        views = #{views,jdbcType=INTEGER},
      </if>
      <if test="appreciation != null">
        appreciation = #{appreciation,jdbcType=INTEGER},
      </if>
      <if test="shareStatement != null">
        share_statement = #{shareStatement,jdbcType=INTEGER},
      </if>
      <if test="commentabled != null">
        commentabled = #{commentabled,jdbcType=INTEGER},
      </if>
      <if test="published != null">
        published = #{published,jdbcType=INTEGER},
      </if>
      <if test="recommend != null">
        recommend = #{recommend,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="typeId != null">
        type_id = #{typeId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="tagIds != null">
        tag_ids = #{tagIds,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

<!--  添加博客-->
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.ljx.blog.pojo.TBlog" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into t_blog (title, content, first_picture, 
      flag, views, appreciation, 
      share_statement, commentabled, published, 
      recommend, create_time, update_time, 
      type_id, user_id, description, 
      tag_ids)
    values (#{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, #{firstPicture,jdbcType=VARCHAR}, 
      #{flag,jdbcType=VARCHAR}, #{views,jdbcType=INTEGER}, #{appreciation,jdbcType=INTEGER}, 
      #{shareStatement,jdbcType=INTEGER}, #{commentabled,jdbcType=INTEGER}, #{published,jdbcType=INTEGER}, 
      #{recommend,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{typeId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{description,jdbcType=VARCHAR}, 
      #{tagIds,jdbcType=VARCHAR})
  </insert>
</mapper>