<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljx.blog.Mapper.TTagMapper">
  <resultMap id="BaseResultMap" type="com.ljx.blog.pojo.TTag">
    <!--@mbg.generated-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`
  </sql>
  <select id="selectByList" resultMap="BaseResultMap" resultType="TTag">
    select * from t_tag
  </select>

  <!--  依据id查询标签-->
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List" />
    from t_tag
    where id = #{id,jdbcType=BIGINT}
  </select>

  <!--  依据name查询标签-->
  <select id="selectByNameAfter" resultType="com.ljx.blog.pojo.TTag">
    select * from t_tag where name = #{name}
  </select>

  <!--  首页右侧展示tag对应的博客数量-->
  <select id="getBlogType" resultMap="BaseResultMap" resultType="TTag">
  </select>

  <!--  依据id删除标签-->
  <delete id="deleteById" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from t_tag
    where id = #{id,jdbcType=BIGINT}
  </delete>

  <!--  添加标签，id自增-->
  <insert id="insert"  parameterType="com.ljx.blog.pojo.TTag">
    <!--@mbg.generated-->
    insert into t_tag (`name`)
    values (#{name,jdbcType=VARCHAR})
  </insert>

  <!--  依据id来更新标签-->
  <update id="updateById" parameterType="com.ljx.blog.pojo.TTag">
    <!--@mbg.generated-->
    update t_tag
    set `name` = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>